<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.developer.applesignin</key>
	<string>Target &apos;OrbitSwiftUI&apos; (project &apos;OrbitSwiftUI&apos;) has process command with output &apos;/Users/jtseng/Library/Developer/Xcode/DerivedData/OrbitSwiftUI-fdhovybkwuqtgadvurgwpardagcw/Build/Products/Debug-iphonesimulator/OrbitSwiftUI.app/Info.plist&apos;</string>
</dict>
</plist>
